{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Contact me</h1>
    <p>You can contact me using the following links:</p>
    <ul>
        <li>Email: <i>owez@scalist.net</i></li>
        <li>Discord: <i>Owez#7734</i></li>
    </ul>
    <h1>Other works</h1>
    <p>If you would like to view some of my other works or contibute to this project, you may do so using the following
        links:</p>
    <ul>
        <li>GitLab: <i>https://gitlab.com/Owez</i></li>
        <li>Github (not used much): <i>https://github.com/scOwez</i></li>
        <li>Portfolio: <i>https://ogriffiths.com</i></li>
    </ul>
    <h1>About Zinharo</h1>
    <p>Zinharo is a jump into distributed computing that I developed over two days (28/04/2020 - 29/04/2020) for use in
        a school project to demonstrate how easy network penetration is by making an over-the-top solution. If you would like to donate server power, you can do so <a href="{{ url_for('frontend.server') }}">here</a>.</p>
</div>
{% endblock %}