{% extends 'base.html' %}

{% block content %}
<div class="hashbox">
    <div class="hashbox-inner">
        <div style="text-align: center;">
            <h2>Crack a wifi password! (.pcap)</h2>
            <input type="file" name="hashinput" id="hashinput">
            <button onclick="upload_hash()">Crack!</button>
        </div>
    </div>
</div>
<div class="container">
    <p class="bottom_index_link">
        <!-- <span class="mini-text">2.5mb max</span><br> -->
        <a href="{{ url_for('frontend.notice') }}">Terms of Service</a><br>
        <b><a href="{{ url_for('frontend.server') }}">Want to donate your computing power?</a></b>
    </p>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}