{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Warrenty</h1>
    <p>Please note that this website is designed only for <b>legal pentesting</b> and the usage of this website is under
        no responsability nor warrenty of the developer. We reserve full rights to report activity and blacklist you from our services.</p>
    <h1>Avalibility</h1>
    <p>Zinharo can not guarantee full availability of the service, however, we do our best to keep the service as stable as possible. Zinharo disclaim all responsibility for loss of income due to downtime and/or data loss</p>
    <h1>Privacy and Logging</h1>
    <p>We collect default <a href="https://docs.nginx.com/nginx-ingress-controller/logging-and-monitoring/logging/">web-logs from nginx</a> that we will share with autorities if requested. The only time we use this infomation ourselves is to detect misuse of our services. The cookies we use are from cloudflare for the main goals of speeding our services up and securing them from malicious activity.</p>
    <h1>Changes</h1>
    <p>This user agreement is subject to change at any time, please review this agreement before you decide to use the service. You are technically bound to accept this agreement by accessing/using the service.</p>
</div>
{% endblock %}