{% extends 'base.html' %}

{% block headers %}
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pcap.css') }}">
{% endblock %}

{% block content %}
<div class="container" id="hashinfo">
    <h1>Loading..</h1>
    <p>Loading hash info</p>
</div>
<span id="hidden-id">{{ id }}</span>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/hash.js') }}"></script>
{% endblock %}