{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Want to help the cracking cause?</h1>
    <p>Zinharo is designed to be a lightweight distributed computing framework, allowing servers or computers of any
        kind to contribute to cracking pcap files. If you would like to help us with these efforts and flaunt server
        power, you may download the <a href="https://gitlab.com/zinharo/zinharo-client">open-source</a> Zinharo Client
        located below</p>
    <button
        onclick="add_alert('Coming soon', 'Zinharo Client is not avalible for download just yet.. Come back soon!', 'ff9933')">Download
        now</button>
</div>
{% endblock %}